header,
footer,
main {
  display: flex;
  justify-content: center;
}
header,
footer {
  height: 100px;
}

footer div {
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#container {
  width: 1224px;
  min-width: 500px;
  display: flex;
}

nav {
  margin: 0 auto;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

* {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-size: 20pt;
  margin: 0;
}

input:focus {
  outline: none;
}
input {
  border: none;
  background-color: white;
  font-size: 12pt;
}
textarea:focus {
  outline: none;
}
textarea {
  border: none;
  font-size: 12pt;
  background-color: white;
}
