header,
footer,
main {
  display: flex;
  justify-content: center;
}

#container {
  width: 1224px;
  min-width: 500px;
  display: flex;
}

nav {
  margin: 0 auto;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}
